{% verbatim %}
<div ng-controller="PMCtrl">
<h5>Metadata from other Collections</h5>
<div class='panel'>
  <div class='width-50-percent' ng-repeat='d in data track by $index'>
    <div class='row collapse' ng-click='cpy(d)'>
       <div class='small-9 columns' ><input type='text' disabled='disabled' value='{{ d }}' ng-click='data=[]'></div>
       <div class='small-3 columns' ><span class='postfix' ng-click='cpy'>+</span></div>
    </div>
  </div>
</div>
</div>
{% endverbatim %}

<script>
app.controller("PMCtrl", ["$scope", "$rootScope", function($scope, $rootScope){
    $scope.data = [
       "Lorem ipsum",
       "dolor sit",
       "dolor sit",
       "Lorem ipsum",
       "dolor sit",
       "Lorem ipsum",
       "dolor sit",
       "dolor sit",
       "Lorem ipsum",
       "Lorem ipsum",
       "dolor sit",
       "Lorem ipsum",
       "Lorem ipsum",
       "dolor sit",
       "dolor sit",
       "Lorem ipsum",
       "Lorem ipsum",
       "dolor sit",
       "Lorem ipsum",
       "dolor sit",
       "dolor sit",
       "Lorem ipsum",
       "dolor sit",
       "Lorem ipsum",
       "dolor sit",
       "Lorem ipsum",
       "Lorem ipsum",
    ];
    $scope.cpy = function(val){
        $rootScope.$emit("copy", val);
    };
}]);
</script>
